site_name: Sewer's Project Index
site_url: https://sewer56.dev/Sewer56.Index

markdown_extensions:
  - admonition
  - tables
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.superfences 
  - pymdownx.tasklist
  - def_list
  - meta
  - md_in_html
  - attr_list
  - footnotes

theme:
  name: material
  palette:
    primary: red
    accent: red
    scheme: slate
    
nav:
  - Home: index.md  
  - Software, Tools & Libraries: index-libraries.md
  - Games: 
    - Index: index-games.md
    - Common/General: games/common.md
    - Bloons TD 6: games/btd6.md
    - Flatout 2: games/flatout-2.md
    - Persona 3/4/5 PC: games/persona-pc.md
    - Shadow The Hedgehog: games/shadow-the-hedgehog.md
    - Sonic Heroes: games/sonic-heroes.md
    - Sonic Riders: games/sonic-riders.md
    - Sonic 3 A.I.R.: games/sonic-3-air.md
    - Tokyo Xanadu eX+: games/tokyo-xanadu.md
    - Trails of Cold Steel: games/cold-steel.md
    - Trails in The Sky: games/trails-in-the-sky.md
    